:root {
  --txt: white;
}

* {
  margin: 0;
  padding: 0;
}

/*.link {
  text-decoration: none;
  color: white;
}
*/
header {
  width: 100%;
  height: 5em;
  background-color: white;
  text-align: center;
}

.liste-titre {
  text-align: center;
  position: absolute;
  top: 7em;  
  width: 100%;
  list-style-type: disc;
}

.composant-1 {
  text-align: center;
}

.composant-2 {
  text-align: center;
}

.form {
  margin-top: 1em;
}

.logo-tmk {
  width: 50%;
}

.liste-categorie {
  margin-bottom: 2.5em;
}
