@import url("https://fonts.googleapis.com/css2?family=Ribeye&display=swap");

:root {
  --txt: white;
  --red: #ff0000;
  --yellow: #fff000;
}

.ribeye-regular {
  font-family: "Ribeye", serif;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: blue;
}

header {
  width: 100%;
  height: 5em;
  background-color: white;
  text-align: center;
}

.liste-titre {
  text-align: center;
  position: absolute;
  top: 7em;
  width: 100%;
  list-style-type: disc;
}

.composant-1 {
  text-align: center;
}

.composant-2 {
  text-align: center;
}

.form {
  margin-top: 1em;
}

.logo-tmk {
  width: 50%;
  position: fixed;
  left: 25%;
  background-color: white;
  z-index: 1;
}

.liste-categorie {
  margin-bottom: 2.5em;
}

.section1 {
  width: 100%;
  height: 90%;
  position: fixed;
  top: 5em;
  overflow: scroll;
  background-color: white;
  z-index: 2;
}

.img {
  width: 30%;
  height: 7em;
  margin-left: 2%;
  border: 2px solid black;
}

.button-off {
  position: fixed;
  left: 47%;
  top: 10%;
  text-align: center;
  font-size: 2em;
  background-color: white;
  color: red;
  border: none;
}

.div-img {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: white;
}

.img-fullScreen {
  width: 95%;
  height: 40%;
  position: absolute;
  top: 20%;
  left: 2.5%;
  border: 2px solid black;
}

.div-chevaux {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 120%;
  z-index: 3;
  background-color: white;
}

.chevaux {
  width: 100%;
  height: 50%;
  position: fixed;
  top: 25%;
  background-color: white;
}

.valide {
  width: 80%;
  height: 20em;
  position: fixed;
  top: 15%;
  left: 10%;
  background-color: pink;
  border: 5px solid black;
  border-radius: 20px;
  animation-name: janime;
  animation-duration: 0.5s;
}

@keyframes janime {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 20em;
    opacity: 1;
  }
}

.h1valide {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  margin-top: 10%;
}

#valider {
  font-size: 2em;
  width: 45%;
  margin-left: 3%;
  margin-top: 20%;
  background-color: pink;
  border: 5px solid black;
  border-radius: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-weight: bold;
}

#modifier {
  font-size: 2em;
  width: 45%;
  margin-left: 3%;
  margin-top: 20%;
  background-color: pink;
  border: 5px solid black;
  border-radius: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-weight: bold;
}

.score {
  width: 80%;
  height: 20em;
  position: fixed;
  top: 15%;
  left: 10%;
  background-color: pink;
  border: 5px solid black;
  border-radius: 20px;
}

.total {
  font-size: 3em;
  text-align: center;
  margin-top: 35%;
}

.select {
  background-color: pink;
  text-align: center;
  width: 15%;
}

#select0 {
  position: fixed;
  top: 39%;
}

#select1 {
  position: fixed;
  top: 33.5%;
  left: 1%;
}

#select2 {
  position: fixed;
  top: 31%;
  left: 17%;
}

#select3 {
  position: fixed;
  top: 27.9%;
  left: 26%;
}

#select4 {
  position: fixed;
  top: 30.8%;
  left: 40%;
}

#select5 {
  position: fixed;
  top: 27.5%;
  left: 46%;
}

#select6 {
  position: fixed;
  top: 25%;
  left: 62%;
}

#select7 {
  position: fixed;
  top: 31.5%;
  left: 83%;
}

#select8 {
  position: fixed;
  top: 39.5%;
  left: 85%;
}

#select9 {
  position: fixed;
  top: 45%;
  left: 83%;
}

#select10 {
  position: fixed;
  top: 48.5%;
  left: 70%;
}

#select11 {
  position: fixed;
  top: 52.5%;
  left: 69%;
}

#select12 {
  position: fixed;
  top: 55.6%;
  left: 71%;
}

#select13 {
  position: fixed;
  top: 58.5%;
  left: 82%;
}

#select14 {
  position: fixed;
  top: 62%;
  left: 70%;
}

#select15 {
  position: fixed;
  top: 67%;
  left: 70%;
}

#select16 {
  position: fixed;
  top: 71.5%;
  left: 54%;
}

#select17 {
  position: fixed;
  top: 57.7%;
  left: 36.2%;
}

#select18 {
  position: fixed;
  top: 62.2%;
  left: 34%;
}

#select19 {
  position: fixed;
  top: 67.9%;
  left: 5%;
}

#select20 {
  position: fixed;
  top: 64.6%;
  left: 4%;
}

#select21 {
  position: fixed;
  top: 61.4%;
  left: 3%;
}

#select22 {
  position: fixed;
  top: 58%;
  left: 2%;
}

#select23 {
  position: fixed;
  top: 52%;
  left: 1%;
}
/* puissance */
.div-puissance {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: white;
  z-index: 4;
  overflow: hidden;
}

.parent {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  height: 45%;
  background-color: #0025e1;
  position: fixed;
  top: 40%;
}

.case {
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
}

.cercle {
  width: 80%;
  height: 80%;
  position: relative;
  left: 10%;
  top: 10%;
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
}

.img-puissance4 {
  width: 50%;
  position: fixed;
  top: 0;
  left: 25%;
}

.lesnoms {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5em;
  position: fixed;
  top: 12%;
  font-family: "Ribeye", serif;
}

.partage {
  position: fixed;
  width: 80%;
  top: 20%;
  left: 10%;
  font-size: 1.5em;
  border-radius: 20px;
  padding: 15px;
  font-family: "Ribeye", serif;
  font-weight: bolder;
  background-color: white;
  border-top: 2px solid #eeeeee;
  border-right: 2px solid #eeeeee;
  border-bottom: 5px solid #eeeeee;
  border-left: 2px solid #eeeeee;
}

.insert-number {
  position: fixed;
  width: 80%;
  top: 20%;
  left: 7%;
  font-size: 1.5em;
  border-radius: 20px;
  padding: 15px;
  font-family: "Ribeye", serif;
  font-weight: bolder;
  background-color: white;
  border-top: 2px solid #eeeeee;
  border-right: 2px solid #eeeeee;
  border-bottom: 5px solid #eeeeee;
  border-left: 2px solid #eeeeee;
  background-color: transparent;
}

.h4-les-noms {
  width: 50%;
  text-align: center;
}

.span-les-noms {
  color: #efbf04;
}

.barre {
  width: 100%;
  height: 0.3em;
  background-color: black;
  position: fixed;
  top: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.puce {
  width: 2em;
  height: 600%;
  background-color: white;
  border-radius: 50%;
  position: relative;
  top: -250%;
  border: 1px solid black;
}

input[type="radio"] {
  accent-color: red;
}

.pion {
  position: absolute;
  width: 3.1em;
  height: 3.1em;
  left: 44%;
  top: 20%;
  border-radius: 50%;
  background-color: pink;
  z-index: 1;
  border: 1px solid white;
}
